# Non-code / irrelevant folders
Drafts/
Subtype/

# Raw Data and other files
RNA-seq/FastQ_Files/
RNA-seq/Trimmed_FastQ/
RNA-seq/mouse_transcripts_index/
RNA-seq/GSEA Results/
RNA-seq/GO Enrichment Tables/
RNA-seq/quants/

# Other file types
*.rnk
*.tex
*.Rhistory
